@import "@fontsource/quicksand/index.css";
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: "Quicksand", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

input:-webkit-autofill {
    background-color: #dde3e7 !important;
    -webkit-text-fill-color: #222831 !important;
    -webkit-box-shadow: 0 0 0px 1000px #dde3e7 inset !important;
    transition: background-color 9999s ease-in-out 0s;
}

/* Dark mode autofill styles */
.dark input:-webkit-autofill {
    background-color: #3c4053 !important;
    -webkit-text-fill-color: #eeeeee !important;
    -webkit-box-shadow: 0 0 0px 1000px #3c4053 inset !important;
    transition: background-color 9999s ease-in-out 0s;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.maplibregl-popup-content {
    font-family: "Quicksand", sans-serif !important;
    background: transparent !important; /* Remove default white background */
    box-shadow: none !important; /* Remove unwanted shadow */
    padding: 0 !important; /* Remove default padding */
    border-radius: 0 !important; /* Ensure no conflicting border-radius */
}

.maplibregl-popup-tip {
    display: none !important;
}

.maplibregl-popup-close-button {
    display: none !important;
}
